
hr {
    width:95%;
}



.container {

    width:100vw;
    margin:0vw;
    
}

body {
    background-color:#ebebe0;
    
}

p {
    color:#777777;
    font-family: sans-serif;
  }

h1{
    font-family: serif;
}


header {
    background-color:#ffffff;
    height:80px;
    position: relative;
    border-bottom: solid #cccccc;  
}

.namecontainer {
        position: absolute;
        left:20%;
        font-size: 5mm;
        background-color: #4aaaa5;
        width:175px;
        height:75%;
        margin-top:20px;
    }
#nametext {
    color: white;
    font-weight:bold;
    text-align: center;
}

.navbar {
    position: absolute;
    left:62%;
    bottom:10%;
}

ul li{
    display: inline;
  }

  
 #aboutli {
     border:none;
 }

.listitem {
    border-left: 1px solid grey;
    margin-left:20px;
    padding-left:20px;
  }

.listitem:hover {
      color:blue;
  }
.listitem:active {
      color:green;
  }


.aboutme {
    position:relative;
    height:700px;
    width:960px;
    background-color: white;
    margin:auto;
    border: solid #dddddd;
  }



.sectiontitle {

    color:#4aaaa5;
    font-weight: bold;
    font-size: 7mm;
    margin-left:20px;
    padding-top:20px;
}

#image {

    position: absolute;
    left: 3%;
    width:300px;
}

#aboutmepara {
    margin-left:20px;
}
.portfolio {
    position:relative;
    height:600px;
    width:960px;
    background-color: white;
    margin:auto;
    border: solid #dddddd;
}

.contact {
    position: relative;
   
    height:350px;
    width:960px;
    background-color: white;
    margin:auto;
    margin-bottom: 20px;
    border: solid #dddddd;
}



input {
    width:90%;
    margin-left: 35px;
}

.formlabel {
    margin-left: 35px;
}

#message {

    margin-left: 35px;
}

#submit {
    width:20%;
    margin-left:350px;
}

#submit:hover {
    color:blue;
   
}

#submit:active {
    color:green;
      
}

footer {
    background-color: #666666;
    height:80px;
    color:white;
    position: relative;
}

#footertext {
    left:750px;
    bottom:0px;
    position: absolute;

}

.spaceclass {
    margin-top:20px
}


/* 
.name {
    position: absolute;
    width: 20%;
    height:100%;
    background-color:skyblue;
    left:18%;


    
    


}

#fullname {
    position: absolute;
    top:30%;
    left:19%;
    font-size: 5mm;
    color: white;
    font-weight:bold;
}

.navbar {
    position: absolute;
    
    
    width: 18%;
    height:90%;
    right:10%;
    top:70%;
    

    

}

ul li{
    display: inline;
  }

  .aboutme {

    position:absolute;
    height:30%;
    width:30%;
    background-color: white;
   


  }
  */